{{#if containerConfig.knative.knativeSecret.enable}}
{{#containerConfig.knative.knativeSecret}}
@knative:Secret {
    {{#if secrets}}
        secrets: [ {{#secrets}}
            { {{#name}}
                name:"{{name}}",{{/name}}{{#readOnly}}
                readOnly:{{readOnly}},{{/readOnly}}{{#if data}}
                data:[{{#data}}"{{.}}"{{#unless @last}},{{/unless}}{{/data}}],{{/if}}{{#mountPath}}
                mountPath:"{{mountPath}}"{{/mountPath}}
            }{{#unless @last}},{{/unless}}{{/secrets}}
        ]{{/if}}
}{{/containerConfig.knative.knativeSecret}}
{{/if}}